[submodule "telnetpp"]
	path = telnetpp
	url = https://github.com/KazDragon/telnetpp
[submodule "terminalpp"]
	path = terminalpp
	url = https://github.com/KazDragon/terminalpp.git
[submodule "serverpp"]
	path = serverpp
	url = https://github.com/KazDragon/serverpp.git
